#map {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /*display: flex;
  flex-wrap: wrap;*/
  /*width: 100%;*/

}

.nav_bar {
  background-color: black;
  height: 9%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.filter_menu {
  height: 100%;
  width: 330px;
  display: block;
  background-color: black;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  transform: translateX(-85%);
  /*left: -100px;*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.filter_menu.open {
  transform: translateX(0);
}

.filter {
  padding-top: 20px;
  padding-right: 10px;
}

input[type="text"] {
  display: block;
  margin: 0;
  /*width: 100%;*/
  /*text-align: center;*/
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.filter input[type="text"] {
  /*margin: 0 auto;*/
  margin-left: 20px;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.filter input[type="text"]:focus,
.filter input[type="text"].focus {
  border: solid 5px #969696;
}

.list {
  list-style: none;
}
.location_list {
  color: white;
  margin-top: 20px;
  font-size: 1.5;
}
.location_list:hover {
  color: blue;
  cursor: pointer;
}

.header {
  /*padding: 10px;*/
  font-family: monospace;
  font-size: 3vw;
  text-align: center;
  color: #fff;
}



.infoDetails {
  font-weight: bold;
}

#nav-icon1 {
  width: 40px;
  height: 35px;
  position: relative;
  text-align: right;
  margin: 0 5px 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 13px;
}

#nav-icon1 span:nth-child(3) {
  top: 26px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


@media screen and (min-width: 320px) and (max-width: 770px) {
  .header {
    font-size: 5vmin;
    padding-left: 35px;
    padding-top: 10px;
  }
}
