#map {
  height: 100%;
  width: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /*display: flex;
  flex-wrap: wrap;*/
  /*width: 100%;*/

}

.nav_bar {
  background-color: black;
  height: 9%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.filter_menu {
  height: 100%;
  width: 25%;
  display: block;
  background-color: black;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  transform: translateX(-85%);
  /*left: -100px;*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.filter_menu.open {
  transform: translateX(0);
}

.location_list {
  color: white;
}

.header {
  padding: 10px;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  color: #fff;
}
.infoDetails {
  font-weight: bold;
}

#nav-icon1 {
  width: 40px;
  height: 35px;
  position: relative;
  text-align: right;
  margin: 0 5px 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 13px;
}

#nav-icon1 span:nth-child(3) {
  top: 26px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
